<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>

<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="full_name">Enter full name: </label>
    <input type="text" th:field="*{full_name}" id="full_name"/>
    <br/>
    <label for="birthday">Enter birthday: </label>
    <input type="text" th:field="*{birthday}" id="birthday"/>
    <br/>
    <input type="submit" value="Create!"/>
</form>

</body>
</html>