<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New book</title>
</head>
<body>

<form th:method="POST" th:action="@{/books}" th:object="${book}">
  <label for="name">Enter book name: </label>
  <input type="text" th:field="*{name}" id="name"/>
  <br/>
  <label for="author_name">Enter author name: </label>
  <input type="text" th:field="*{author_name}" id="author_name"/>
  <br/>
  <label for="year_of_writing">Enter year of writing: </label>
  <input type="text" th:field="*{year_of_writing}" id="year_of_writing"/>
  <br/>
  <input type="submit" value="Create!"/>
</form>

</body>
</html>